.header {
  width: 100%;
  padding-right: 62px;
  padding-left: 53px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 999;
}

.contacts-wrap {
  margin-left: auto;
}
