.nav {
  display: flex;
}

.nav__list {
  display: flex;
  margin-left: 70px;
}

.nav__items {
  margin-left: 40px;
}

.contacts-wrap {
  margin-left: auto;
}

.site-contacts {
  margin-right: 40px;
}
