.button {
  @include font($ls: 0.09em);
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  background: unset;
  border-radius: 25px;
  padding: 12px 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ff6c00;
    color: #ffffff;
  }
}

.invers {
  color: #303030;
}
